/08_Lecture/UserInterface/nbproject/private/
/08_Lecture/UserInterface/build/
/08_Lab/08_Lab/nbproject/private/
/08_Lab/08_Lab/build/
/10_Lab/nbproject/private/
/10_Lab/build/
/11_Lecture/nbproject/private/
/11_Lab/nbproject/private/
